.card {
    position: relative;
}

.card img {
    width: 95px;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card .frontCard {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .frontCard {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .backCard {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .backCard {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
