
body{
  background-color: #E36588;
}

h2 {
  color: #FFEB3E;
  font-size: 20px;
  font-family: 'Courier New', monospace;
}

.cardGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.swal-title {
  font-family: 'Courier New', monospace;
}

.swal-text {
  font-family: 'Courier New', monospace;
}

.swal-icon img {
  width: 116px;
  height: 84px;
}

.swal-button {
  background-color: #E36588;
  font-family: 'Courier New', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgTitle {
  width: 421px;
  height: 40px;
  margin-top: 10px;
}

.restartButton {
	background-color:#6479f1;
	border-radius:28px;
	border:2px solid #ffffff;
	display:inline-block;
  color: #ffffff;
	cursor:pointer;
	font-family: 'Courier New', monospace;
	font-size:15px;
	padding:5px 10px;
}

.restartButton:hover {
	background-color:#92a0f1;
}
